//output: index.html, pretty: false

doctype html
html
  head
    include ./head.jade
    link(rel='stylesheet', type='text/css', href='//learnengli.sh/css/javascript.fullPage.css')
    link(rel='stylesheet', type='text/css', href='css/landing.css')
  body
    #loading-mask.show
    #fullpage
    
      // landing
      .section
        // extra wrapper is necessary with non-jQuery version of fullPage.js
        .vert-center-wrapper
          .content
            #language-panel
              include ./langpanel.jade
              
            #hello
              #hello-left Hello, I'm
              #hello-center.claire-face
              #hello-right
                a(href='app/', id='app-launch-link')
                  #top-bubble.bubble.link-bubble
                    span.multilingual(
                         en='Do you want to improve your English?',
                         es='Puedo aclarar sus dudas de inglés',
                         pt='Vou lhe dar dicas de inglês',
                         fr="Avez-vous besoin des conseils d&rsquo;anglais ?",
                         de='Tipps zu Englisch erhalten Sie bei mir',
                         jp='いつでも、どこでも、',
                         kr='언제든지, 어디든지,',
                         zh-CN='无论何时，无论何地，',
                         zh-TW='無論何時，無論何地，',
                         hi='कहीं भी, कभी भी,',
                         ml='ഞാൻ സഹായിക്കാം',
                         ) Do you want to improve your English?
                    br
                    span.multilingual(
                         en='Experience learning English with me!',
                         es='en cada frase que escribe.',
                         pt='em cada frase que você escreve.',
                         fr="Je reste à votre disposition númerique.",
                         de='mit jedem Satz, den Sie tippen.',
                         jp='あなたの英語学習を応援します！',
                         kr='당신의 영어 공부를 도울 수 있어요!',
                         zh-CN='我帮助您提高英语水平！',
                         zh-TW='我幫助您提高英語水平！',
                         hi='मेरे साथ अंग्रेज़ी सीखिये!',
                         ml='നിങ്ങളുടെ ഇംഗ്ലിഷ് പഠനത്തിൽ!'
                         ) Experience learning English with me!
                    div.button.right.orange.pulsate
                    
            .bottom
              a(href="javascript:void(0)", onmouseup="fullpage.moveSectionDown()")
                #bottom-bubble.bubble.link-bubble
                  span.multilingual(
                     en='Would you like to learn more about me?',
                     es='¿Quiere saber más sobre mí?',
                     pt='Quer saber mais sobre mim?',
                     fr="Voulez-vous savoir plus sur moi ?",
                     de='Möchten Sie mehr über mich erfahren?',
                     jp='もっと知りたい方はこちらへどうぞ。',
                     kr='더 알고 싶으세요?',
                     zh-CN='想了解更多关于我吗？',
                     zh-TW='想了解更多關於我嗎？',
                     hi='क्या आप मेरे बारे मे और जानना चाहते हैं?',
                     ml='(Malayalam translation coming soon)'
                     ) Would you like to learn more about me?
                  div.button.down.purple
    
      .section
        .vert-center-wrapper
          .content.text
            .top
              a.button.up.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionUp()")
            .bottom
              a.button.down.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionDown()")
            .claire-face
            h1
              span.swap-language(lang='en') 
                | helps the world
                br.line-break
                | &nbsp;speak
                div.correction
                  span.added-word better
                  span.deleted-word betar
                | English.
              span.swap-language(lang='es') 
                | ayuda al mundo 
                br.line-break
                | a hablar
                span.emph.dark-purple mejor
                | inglés.
              span.swap-language(lang='pt') 
                | ajuda o mundo 
                br.line-break
                | a falar
                span.emph.dark-purple melhor
                | inglês.
              span.swap-language(lang='fr') 
                | aide le monde 
                br.line-break
                | à parler
                span.emph.dark-purple meilleur
                | anglais.
              span.swap-language(lang='de') 
                | hilft der Welt, 
                br.line-break
                | Englisch
                span.emph.dark-purple besser
                | zu sprechen.
              span.swap-language(lang='jp') 
                | は世界の英語力
                span.emph.dark-purple 向上
                | を
                br.line-break
                | サポートします。
              span.swap-language(lang='kr')
                | 는 세계의 영어력
                span.emph.dark-purple 향상
                | 을 돕습니다.
              span.swap-language(lang='zh-CN') 
                | 帮助全世界
                br.line-break
                | 英语说
                span.emph.dark-purple 得更好
                | 。
              span.swap-language(lang='zh-TW') 
                | 幫助全世界
                br.line-break
                | 英語說
                span.emph.dark-purple 得更好
                | 。
              span.swap-language(lang='hi') 
                | करे
                span.emph.dark-purple बेहतर
                | अँग्रेज़ी 
                br.line-break
                | बोलने मे सहायता
              span.swap-language(lang='ml') 
                | helps the world 
                br.line-break
                | speak
                span.emph.dark-purple better
                | English.
            .promo-text.swap-language(lang='en')
              p 
                | Claire is the 
                strong tutor of the future 
                | for the global community of English learners.
              p 
                | With a unique combination of artificial intelligence and linguistic expertise, Claire helps people improve their English with 
                strong every sentence 
                | they type.
              p 
                | Learning with Claire 
                strong couldn't be easier
                | : revisions and helpful annotations are just a click away! 
                a.external(href="app/") Try it yourself
            .promo-text.swap-language(lang='es')
              p 
                | Claire es la 
                strong tutora del futuro 
                | para la comunidad mundial de aprendices de inglés.
              p 
                | Con una combinación única de inteligencia artificial y conocimientos lingüísticos, Claire ayuda a la gente a mejorar su inglés con 
                strong cada frase 
                | que escriben.
              p 
                | Aprender con Claire 
                strong no podía ser más fácil
                | : ¡revisiones y explicaciones útiles se pueden ver con un sólo clic del ratón! 
                a.external(href="app/") Vámonos
            .promo-text.swap-language(lang='pt')
              p 
                | Claire é a 
                strong tutora do futuro 
                | para a comunidade global de aprendizes de inglês.
              p 
                | Com uma combinação única de inteligência artificial e conhecimento linguístico, a Claire ajuda as pessoas a falarem melhor inglês com 
                strong cada frase 
                | que escrevem.
              p 
                | Aprender com a Claire 
                strong não podia ser mais fácil
                | : você pode ver revisões e explicações útis com um só clique do mouse! 
                a.external(href="app/") Vamos lá
            .promo-text.swap-language(lang='fr')
              p 
                | Claire est 
                strong la tuteuse du futur 
                | pour la communauté mondiale d'apprenant(e)s d'anglais.
              p 
                | Avec une combinaison unique d'intelligence artificielle et de savoir-faire linguistique, Claire aide les gens à parler meilleur anglais à 
                strong chaque phrase 
                | qu'ils écrivent.
              p 
                | C'est 
                strong très facile 
                | d'apprendre avec Claire : vous pouvez voir des revisions et des explications utiles d'un simple clic ! 
                a.external(href="app/") Allons-y
            .promo-text.swap-language(lang='de')
              p 
                | Claire ist 
                strong die Tutorin der Zukunft 
                | für die weltweite Gemeinschaft der Englischlernerin/-nen.
              p 
                | Durch eine einzigartige Kombination von künstliche Intelligenz und linguistischen Sachverstand hilft Claire den Menschen dabei, mit 
                strong jedem Satz
                | , den sie schreiben, ihre Englischkenntnisse zu verbessern.
              p 
                | Mit Claire zu lernen ist 
                strong ganz einfach
                | : Sie müssen nur klicken, um überarbeitete Sätze und nützliche Anmerkungen zu sehen. 
                a.external(href="app/") Los geht's
            .promo-text.swap-language(lang='jp')
              p 
                | Claireは
                strong 未来
                | の英語学習補助員です。
              p 
                | 人工知能と言語学知識というユニークな組み合わせを備えており、
                strong 各フレーズ
                | が英語のレベルアップする機会になります。
              p 
                | 使い方は
                strong とても簡単！
                | 言いたいフレーズを入力するだけで修正文と注釈が瞬時に返ってくるので、誰でも気軽に学習できます！
                a.external(href="app/") 早速始めましょう
            .promo-text.swap-language(lang='kr')
              p 
                | Claire는 
                strong 미래
                | 의 영어 학습 보조원입니다.
              p 
                | 인공지능과 언어학 지식과의 유니크한 조합을 갖춰져 있기 때문에 
                strong 각각의 문장
                | 은 영어 실력을 향상시킬 기회가 됩니다.
              p 
                | 이용 방법이 
                strong 아주 간단하죠! 
                | 말하고 싶은 문장을 입력하기만 하면 수정 문장과 주석이 즉각 돌아오기 때문에 누구나 편리하게 학습할 수 있죠!
                a.external(href="app/") 시작하기
            .promo-text.swap-language(lang='zh-CN')
              p 
                | Claire是
                strong 未来
                | 的英文辅导。
              p 
                | Claire结合人工智能和语言专家知识，让个人而
                strong 一句一句
                | 来一步一步提高英语水平。
              p 
                | 应用
                strong 非常容易
                | ，写一句，再一点就可以得到注解。
                a.external(href="app/") 来试一下
            .promo-text.swap-language(lang='zh-TW')
              p 
                | Claire是
                strong 未來
                | 的英文輔導。
              p 
                | Claire結合人工智能和語言專家知識，讓個人而
                strong 一句一句
                | 來一步一步提高英語水平。
              p 
                | 應用
                strong 非常容易
                | ，寫一句，再一點就可以得到註解。
                a.external(href="app/") 來試一下
            .promo-text.swap-language(lang='hi')
              p 
                | विश्व में अंग्रेज़ी सीखने वालो के समुदाय की 
                strong भविष्य की शिक्षिका
                | &nbsp;&mdash; Claire।
              p 
                | Artificial intelligence एवं भाषा विशेषज्ञता के अनोखे तालमेल के साथ, Claire आपके लिखे गए 
                strong हर वाक्य 
                | को सुधरेगी।
              p 
                | Claire से अंग्रेज़ी सीखना 
                strong एकदम आसान 
                | &mdash; अभ्यास और टिप्पणी सिर्फ एक क्लिक में! 
                a.external(href="app/") स्वयं प्रयोग करें
            .promo-text.swap-language(lang='ml')
              p 
                | Claire is the 
                strong tutor of the future 
                | for the global community of English learners.
              p 
                | With a unique combination of artificial intelligence and linguistic expertise, Claire helps people improve their English with 
                strong every sentence 
                | they type.
              p 
                | Learning with Claire 
                strong couldn't be easier
                | : revisions and helpful annotations are just a click away! 
                a.external(href="app/") Try it yourself
              
              
      .section
        .vert-center-wrapper
          .content.text
            .top
              a.button.up.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionUp()")
            .bottom
              a.button.down.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionDown()")
            .claire-face
            h1 
              span.swap-language(lang='en')
                | tries to
                span.emph.pink understand
                | you.
              span.swap-language(lang='es')
                span.emph.pink entiende
                | lo que usted quiere decir.
              span.swap-language(lang='pt')
                span.emph.pink entende
                | o que você quer dizer.
              span.swap-language(lang='fr')
                span.emph.pink comprends
                | ce que vous voulez dire.
              span.swap-language(lang='de')
                span.emph.pink versteht,
                | was Sie sagen wollen.
              span.swap-language(lang='jp')
                | は
                span.emph.pink 勘
                | がいい。
              span.swap-language(lang='kr')
                | 는
                span.emph.pink 눈치
                | 가 있어요.
              span.swap-language(lang='zh-CN')
                span.emph.pink 懂得
                | 您想说什么。
              span.swap-language(lang='zh-TW')
                span.emph.pink 懂得
                | 您想說什麽。
              span.swap-language(lang='hi')
                span.emph.pink समझे
                | आपको
              span.swap-language(lang='ml')
                | tries to
                span.emph.pink understand
                | you.
            .promo-text.swap-language(lang='en')
              p 
                | Many learner mistakes arise from 
                strong literal translations 
                | of the learner's first language, whose patterns elude conventional English grammar checkers.
              p 
                | And despite the name, even state-of-the-art "natural language" processing software often fails to deliver when it confronts 
                strong conversational text.
              p
                | Claire is made for 
                strong real 
                | natural language &mdash; chat logs and informal writing by non-native speakers served as the reference point for development. 
                a.external(href="/about.html#features") Learn more
            .promo-text.swap-language(lang='es')
              p 
                | Muchas faltas cometidas por aprendices surgen por causa de la 
                strong lengua materna
                | , cuyos pautas eluden los corregidores de gramática convencionales.
              p 
                | Y a pesar del nombre, hasta el software más moderno para el procesamiento de "lenguajes naturales" enfrenta dificuldades en la comprensión de las 
                strong formas conversacionales.
              p
                | Claire está diseñada para la lenguaje natural 
                strong de verdad 
                | &mdash; registros de chat y textos informales escritos por hablantes no nativos han servido como punto de referencia para el desarollamiento. 
                a.external(href="/about.html#features") Ver la lista de funcionalidades
            .promo-text.swap-language(lang='pt')
              p 
                | Muitas faltas cometidas pelas aprendizes surgem por causa da 
                strong língua materna
                | , cujos padrões iludem os corretores de gramática convencionais.
              p 
                | E apesar do nome, até o software mais moderno para o processamento de "linguagem natural" enfrenta dificuldades na compreensão das 
                strong formas conversacionais.
              p
                | Claire está destinada para a linguagem natural 
                strong de verdade 
                | &mdash; registros de chat e textos informais escritos por falantes não nativos serviram como ponta de referência para o desenvolvimento. 
                a.external(href="/about.html#features") Confira a lista das funcionalidades
            .promo-text.swap-language(lang='fr')
              p 
                | Nombreux fautes des apprenants résultent des 
                strong traductions littérales 
                | de la langue maternelle, dont les configurations syntaxiques échappent aux correcteurs de grammaire conventionnels.
              p 
                | Et malgré le nom, même les logiciels plus récents du traitement du "langage naturel" échoue souvent dans la compréhension des 
                strong formes conversationnelles.
              p
                | Claire est destinée pour le 
                strong vrai 
                | langage naturel &mdash; des chatlogs et des textes informels des locuteurs non-natifs ont servi de référence pendant la phase de développement. 
                a.external(href="/about.html#features") Voir la liste des fonctionnalités
            .promo-text.swap-language(lang='de')
              p 
                | Viele Lernerfehler ergeben sich aus 
                strong wörtlichen Übersetzungen 
                | aus der Muttersprache des/der Lerners/-in, deren Schemen entziehen sich der konventionellen Grammatikprüfung.
              p 
                | Und trotz des Names bleiben die aktuelle Software für "natürliche Sprachverarbeitung" hinter den Erwartungen zurück, wenn sie 
                strong gesprochene Ausdrucksweise 
                | begegnet.
              p
                | Claire ist auf 
                strong wirklich 
                | natürliche Sprache zugeschnitten &mdash; Chatlogs und informelle Schriften von Nicht-Muttersprachlerin/-nen haben als Referenz für die Entwicklung gedient. 
                a.external(href="/about.html#features") Zur Liste der Features
            .promo-text.swap-language(lang='jp')
              p 
                | 英語学習者の多くは言いたいことを
                strong そのまま
                | 母語から訳して、間違った英語を話してしまいます。従来の英語の文法チェッカーがこういった間違いまでを修正するのは非常に稀です。
              p 
                | さらに、最先端のいわゆる「自然言語」処理のソフトウェアでも
                strong 日常会話
                | の意味をなかなか把握できません。
              p
                | Claireは非母語話者の文章やチャットログに基づいて開発されたので、
                strong 自然な言葉
                | を理解します。
                a.external(href="/about.html#features") 機能の一覧へ
            .promo-text.swap-language(lang='kr')
              p 
                | 많은 영어 학습자는 하고 싶은 말을 모어에서 
                strong 그대로 
                | 번역하고 맞지 않은 영어를 해 버리는데 종래 영어 문법 검사기로 이 실수를 바로잡기가 어렵습니다.
              p 
                | 게다가 최첨단 소위 "자연 언어" 처리 소프트웨어도 
                strong 회화체를 
                | 잘 이해할 수 없습니다.
              p
                | Claire는 비모어 화자의 문장과 채팅 로그에 근거 하여 개발됐기 때문에 하고 싶은 말은 
                strong 정확하게 
                | 이해할 겁니다. 
                a.external(href="/about.html#features") 기능 목록으로
            .promo-text.swap-language(lang='zh-CN')
              p 
                | 新开始学习英语时，经常会有从母语
                strong 直译
                | 出错，但会被一般的自动语法检查漏掉。
              p 
                | 另外，
                strong 平时交流对话
                | 也会使最新的“自然语言”处理软件为难。
              p
                | 为了了解学新英语学者，Claire也是利用非英语母语背景来源的随时对话和聊天记录而设计的。
                a.external(href="/about.html#features") 看下功能列表
            .promo-text.swap-language(lang='zh-TW')
              p 
                | 新開始學習英語時，經常會有從母語
                strong 直譯
                | 出錯，但會被一般的自動語法檢查漏掉。
              p 
                | 另外，
                strong 平時交流對話
                | 也會使最新的“自然語言”處理軟件為難。
              p
                | 為了了解學新英語學者，Claire也是利用非英語母語背景來源的隨時對話和聊天記錄而設計的。
                a.external(href="/about.html#features") 看下功能列表
            .promo-text.swap-language(lang='hi')
              p 
                | काफी शुरुआती गलतियां अंग्रेज़ी भाषा के 
                strong यथा-शाब्दिक अनुवाद 
                | से होती हैं, जिसका स्वरूप अंग्रेज़ी व्याकरण को परखने वाले सामान्य प्रोग्राम नहीं कर पाते।
              p 
                | और अपनी विषेशता के बावजूत भी, कई अत्याधुनिक "नैचरल लैंगुएज" प्रोसेसिंग सॉफ्टवेर 
                strong आम संवाद 
                | का अनुवाद करने में असफल रहते हैं।
              p
                | Claire बना है 
                strong रीयल 
                | नैचरल लैंगुएज से &mdash; गैर मूल-निवासियों के चेट फोरम एवं अनौपचारिक संवाद ही इसके डेवेलोपमेंट का संदर्भ बिंदु है। 
                a.external(href="/about.html#features") सुविधाओं की सूची देखें
            .promo-text.swap-language(lang='ml')
              p 
                | Many learner mistakes arise from 
                strong literal translations 
                | of the learner's first language, whose patterns elude conventional English grammar checkers.
              p 
                | And despite the name, even state-of-the-art "natural language" processing software often fails to deliver when it confronts 
                strong conversational text.
              p
                | Claire is made for 
                strong real 
                | natural language &mdash; chat logs and informal writing by non-native speakers served as the reference point for development. 
                a.external(href="/about.html#features") Learn more
                
      .section
        .vert-center-wrapper
          .content.text
            .top
              a.button.up.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionUp()")
            .bottom
              a.button.down.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionDown()")
            .claire-face.nudge-left
            h1 
              span.swap-language(lang='en')
                | is
                span.emph.purple easy
                | to work with.
              span.swap-language(lang='es')
                span.emph.purple facilita
                | su trabajo.
              span.swap-language(lang='pt')
                span.emph.purple facilita
                | o seu trabalho.
              span.swap-language(lang='fr')
                span.emph.purple facilite
                | votre travail.
              span.swap-language(lang='de')
                | macht Ihnen die Arbeit
                span.emph.purple leicht.
              span.swap-language(lang='jp')
                | の操作は
                span.emph.purple 簡単
                | です。
              span.swap-language(lang='kr')
                | 의 조작은
                span.emph.purple 간단
                | 합니다.
              span.swap-language(lang='zh-CN')
                span.emph.purple 减轻
                | 您的工作量。
              span.swap-language(lang='zh-TW')
                span.emph.purple 減輕
                | 您的工作量。
              span.swap-language(lang='hi')
                | से काम करना है एकदम
                span.emph.purple आसान
              span.swap-language(lang='ml')
                | is
                span.emph.purple easy
                | to work with.
            .promo-text.swap-language(lang='en')
              p 
                | People can learn with Claire via this website 
                strong for free
                | .
              p 
                | And the 
                strong very simple API 
                | will make developers happy, too. Claire groks JSON, so you can concentrate on JavaScript syntax while she handles the English syntax.
              p 
                | The API is freely available for non-commercial use. You can register 
                a(href="/api_signup.html") here
                | &nbsp;and check out the documentation and the code for the web app 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") on GitHub
            .promo-text.swap-language(lang='es')
              p 
                | Se puede aprender con Claire 
                strong de forma gratuita 
                | a través de este sítio.
              p 
                | Y el 
                strong API muy sencillo 
                | hará a los desarolladores feliz también. Claire devuelve los datos en formato JSON, así que usted puede concentrarse en la sintaxis JavaScript mientras ella maneja la sintaxis inglesa.
              p 
                | El API está disponible de forma gratuita para el uso no comercial. Regístrese 
                a(href="/api_signup.html") aquí
                | &nbsp;y véase la documentación del API y el código fuente del web-app 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") en GitHub
            .promo-text.swap-language(lang='pt')
              p 
                | As pessoas podem aprender com a Claire 
                strong de forma gratuita 
                | através deste website.
              p 
                | E a 
                strong API muito simples 
                | fará os desenvolvedores feliz também. Claire retorna os dados em formato JSON, que você pode se concentrar no síntaxe JavaScript enquanto ela cuida do sintaxe inglês.
              p 
                | A API está disponível de forma gratuita para o uso não comercial — é só cadastrar-se 
                a(href="/api_signup.html") aqui.
                | &nbsp;A documentação da API e o código-fonte do web-app estão publicados 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") no GitHub
            .promo-text.swap-language(lang='fr')
              p 
                | On peut apprendre avec Claire 
                strong gratuitement 
                | par ce site web.
              p 
                | Et l'
                strong API très simple 
                | satisfera aussi des développeurs. Claire renvoie les données en format JSON, donc vous pouvez vous concentrer sur la syntaxe JavaScript pendant qu'elle s'occupe de la syntaxe anglaise.
              p 
                | L'API est disponible gratuitement pour l'usage non commercial. Enregistrez-vous 
                a(href="/api_signup.html") ici
                | &nbsp;et voyez la documentation de l'API et le code source du web-app 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") sur GitHub
            .promo-text.swap-language(lang='de')
              p 
                | Man kann durch diese Website mit Claire 
                strong kostenlos 
                | lernen.
              p 
                | Und das 
                strong sehr einfache API 
                | wird auch die Entwicklern zufriedenstellen. Weil Claire Daten als JSON zurück liefert, können Sie sich auf die JavaScript-Syntax konzentrieren, während sie die englische Syntax anpackt.
              p 
                | Das API steht für die nicht-kommerzielle Nutzung öffentlich zur Verfügung. Das Anmeldungsformular findet sich 
                a(href="/api_signup.html") hier
                | , und die Dokumentation für das API und der Code für die Web-App sind 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") auf GitHub
                | &nbsp;veröffentlicht. 
            .promo-text.swap-language(lang='jp')
              p 
                | このサイトは
                strong 無料
                | でご利用いただけます。
              p 
                | さらに、Claireを使って自分の英語学習のアプリを作りたいという開発者のために、
                strong 簡単なAPI
                | も提供しました。
              p 
                | 非営利使用の場合、APIは無料でご利用いただけます。登録の申し込みは
                a(href="/api_signup.html") こちら
                | へどうぞ。APIのドキュメンテーションとウェブアップのコードは 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") GitHubに
                | &nbsp;公開してあります。
            .promo-text.swap-language(lang='kr')
              p 
                | 이 사이트는 
                strong 무료
                | 로 이용하실 수 있습니다.
              p 
                | 게다가 Claire를 사용해서 자기 영어 학습 앱을 만들려고 하는 개발자를 위하여 간단한
                strong 간단한 API
                | 도 제공했습니다.
              p 
                | API는 미상용화를 위해 무료로 이용할 수 있어요. 등록 신청은 
                a(href="/api_signup.html") 여기
                | 에 해 주세요. API의 다큐멘테이션과 web-app의 코드는 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") GitHub에
                | &nbsp;공개됐습니다.
            .promo-text.swap-language(lang='zh-CN')
              p 
                | 大家都能在这网页上
                strong 免费
                | 的用Claire学习。
              p 
                | 设计者可以很
                strong 方便的使用API
                | 来创自己的学习英文的app。
              p 
                | 如果无商业应用，可以免费使用API。可以在
                a(href="/api_signup.html") 这里
                | 登录。关于API文件和web app编程代码都在
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") GitHub上 
                | 公开发布。
            .promo-text.swap-language(lang='zh-TW')
              p 
                | 大家都能在這網頁上
                strong 免費
                | 的用Claire學習。
              p 
                | 設計者可以很
                strong 方便的使用API
                | 來創自己的學習英文的app。
              p 
                | 如果無商業應用，可以免費使用API。可以在
                a(href="/api_signup.html") 這裏
                | 登錄。關於API文件和web app編程代碼都在
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") GitHub上 
                | 公開發布。
            .promo-text.swap-language(lang='hi')
              p 
                | Claire की इस वेबसीटे से 
                strong मुफ्त में 
                | सीखें।
              p 
                | डेवेलपर्स 
                strong इस API 
                | का प्रयोग सरलता से स्वयं की अंग्रेज़ी सीखने की app में सकते हैं।
              p 
                | यह API सभी अव्यवसायिक प्रयोग के लिए निशुल्क उपलब्ध है. इस app का API प्रलेखन एवं code, आप 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") GitHub पर
                | &nbsp;देख सकते हैं।
            .promo-text.swap-language(lang='ml')
              p 
                | People can learn with Claire via this website 
                strong for free
                | .
              p 
                | And the 
                strong very simple API 
                | will make developers happy, too. Claire groks JSON, so you can concentrate on JavaScript syntax while she handles the English syntax.
              p 
                | The API is freely available for non-commercial use. You can check out the documentation and the code for the web app 
                a.external(href="http://github.com/tabidots/claire-web-app", target="_blank") on GitHub
            
      // how it works
      .section
        .vert-center-wrapper
          .content
            .top
              a.button.up.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionUp()")
            .bottom
              a.button.down.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionDown()")
            
            #hiw-aspect-ratio
              #how-it-works
                h3#hiw-caption-head But how does Claire work?
                p#hiw-caption Touch a picture to learn more.
                img(id="science-scribble", src="images/science/science_scribble.png",
                    touch-action="none", -ms-touch-action="none",
                    heading="Real language is messy.",
                    paragraph="Claire is made for chats, tweets, comments, and emails.")

                img(id="science-scribble-to-dots", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-dots", src="images/science/science_dots.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Straighten it out a little.",
                    paragraph="A basic analysis takes care of some easy-to-spot errors.")

                img(id="science-dots-to-atom", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-atom", src="images/science/science_atom.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Feed it to the algorithms.",
                    paragraph="Claire uses Stanford's CoreNLP software to examine deeper connections between words.")

                img(id="science-atom-to-globe", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-globe", src="images/science/science_globe.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="She's global."
                    paragraph="Claire includes rules to accomodate non-native usages and patterns that would confuse most language tools.")

                img(id="science-wiki", src="images/science/science_wiki.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Consult the hive mind.",
                    paragraph="Is that weird word a spelling mistake or the name of a celebrity? Let's ask Wikipedia.")

                img(id="science-wiki-to-globe", src="images/science/science_arrow.svg")

                img(id="science-ear", src="images/science/science_ear.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Sound it out.",
                    paragraph='Most spell-checkers flag typos, not genuine spelling mistakes. Claire tries to "sound out" unfamiliar words like "cuppal" and "shuar".')

                img(id="science-ear-to-globe", class="science-arrow", src="images/science/science_arrow.svg")
                img(id="science-globe-to-depdots", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-depdots", src="images/science/science_depdots.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Connect the dots.",
                    paragraph="Computers often misunderstand phrases in funny ways and ignore small &quot;function words&quot;. Claire tweaks CoreNLP's analysis to account for this.")

                img(id="science-depdots-to-syntagmas", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-syntagmas", src="images/science/science_syntagmas.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Read it like a human.",
                    paragraph="Claire divides sentences into meaningful parts for learning and error correction, and far more accurately than conventional NLP chunkers.")

                img(id="science-syntagmas-to-globe", class="science-arrow", src="images/science/science_arrow.svg")
                img(id="science-syntagmas-to-checklist", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-checklist", src="images/science/science_checklist.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Leave no letter unturned.",
                    paragraph="The text is checked against a comprehensive list of hundreds of unnatural patterns culled from tens of thousands of real non-native sentences.")

                img(id="science-checklist-to-result", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-result", src="images/science/science_result.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Annotate the text.",
                    paragraph="Claire doesn't just correct the sentence, she sends it back with an explanation and a before-and-after of each mistake.")

                img(id="science-result-to-lightbulb", class="science-arrow", src="images/science/science_arrow.svg")

                img(id="science-lightbulb", src="images/science/science_lightbulb.svg",
                    touch-action="none", -ms-touch-action="none",
                    heading="Learning moment!",
                    paragraph="Time to celebrate some new neural connections.")
                    
      // acknowledgments
      .section
        .vert-center-wrapper
          .content
            .top
              a.button.up.purple(href="javascript:void(0)", onmouseup="fullpage.moveSectionUp()")
            .bottom
              a.button.up.orange(href="javascript:void(0)", onmouseup="fullpage.moveTo(1)")
              
            h1 Acknowledgments
            #acknowledgments
              ul
                h2 Inspirations
                li
                  a(href="http://www.genusly.com", target="_blank")
                    img(src='/images/other_logos/genusly.png')
                  .tooltip Genusly
                li
                  a(href="http://www.grammatica.eu", target="_blank")
                    img(src='/images/other_logos/grammatica.png')
                  .tooltip Grammatica
                li
                  a(href="http://www.lang-8.com", target="_blank")
                    img(src='/images/other_logos/lang8.jpg')
                  .tooltip Lang-8  
                li
                  a(href="http://frill.miknight.com", target="_blank")
                    img(src='/images/other_logos/frill.png')
                  .tooltip Frill
              
              ul
                h2 Frontend
                li
                  a(href="http://www.vuejs.org/", target="_blank")
                    img(src='/images/other_logos/vuejs.png')
                  .tooltip Vue.js
                li
                  a(href="http://www.atom.io/", target="_blank")
                    img(src='/images/other_logos/atom.png')
                  .tooltip Atom
                li
                  a(href="http://www.jade-lang.org/", target="_blank")
                    img(src='/images/other_logos/jade.svg')
                  .tooltip Jade
                li
                  a(href="http://www.stylus-lang.org/", target="_blank")
                    img(src='/images/other_logos/stylus.svg')
                  .tooltip Stylus
                      
              ul
                h2 Fonts
                li.font
                  a.lato(href="http://latofonts.com", target="_blank") Lato
                li.font
                  a.fanwood(href="http://www.theleagueofmoveabletype.com/fanwood", target="_blank") Fanwood
                li
                  a(href="http://fontawesome.io", target="_blank")
                    img(src='/images/other_logos/fontawesome.png')
                  .tooltip Font Awesome
                li
                
              ul
                h2 Backend
                li
                  img(src='/images/claire_backend.svg')
                  .tooltip Syntagmic Algorithms and API
                li
                  a(href="http://www.python.org/", target="_blank")
                    img(src='/images/other_logos/python.png')
                  .tooltip Python
                li
                  a(href="http://stanfordnlp.github.io/CoreNLP/", target="_blank")
                    img(src='/images/other_logos/corenlp.png')
                  .tooltip Stanford CoreNLP
                li
                  a(href="http://www.mongodb.com", target="_blank")
                    img(src='/images/other_logos/mongodb.svg')
                  .tooltip MongoDB
              
              ul.legal
                h2 Legal
                #legal-credits
                  include:md ./md/legal-credits.md
              
    include ./footer.jade

    script(src='//learnengli.sh/js/underscore-min.js')
    script(src='js/claire.common.min.js')
    
    script(src='//cdnjs.cloudflare.com/ajax/libs/classlist/2014.01.31/classList.min.js')
    
    script(src='//learnengli.sh/js/hammer.min.js')
    script(src='//learnengli.sh/js/micromarkdown.js')
    script(src='//learnengli.sh/js/smartquotes.min.js')
    script(src='//learnengli.sh/js/javascript.fullPage.min.js')
    
    script(src='js/claire.landing.min.js')

    script(type="text/javascript").
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80428623-1', 'auto');
      ga('send', 'pageview');
